:root{
    --bg-dark: oklch(0.1 0 337);
    --bg: oklch(0.15 0 337);
    --bg-light: oklch(0.2 0 337);
    --text: oklch(0.96 0 337);
    --text-muted: oklch(0.76 0 337);
    --highlight: oklch(0.5 0 337);
    --border: oklch(0.4 0 337);
    --border-muted: oklch(0.3 0 337);
    --primary: oklch(0.76 0.1 337);
    --secondary: oklch(0.76 0.1 157);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);

    --border-radius-sm: .5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 1.5rem;
}

*{
    font-family: var(--font-jetbrains-mono) !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h2,h3,h4,h5,button,p,span{
    color: var(--text);
}

h1{
    font-size: clamp(2rem, 5vw, 3.5rem);
}
h1{
    font-size: clamp(1.8rem, 5vw, 3rem);
}
h3{
    font-size: clamp(1.4rem, 5vw, 2.5rem);
}
h4{
    font-size: clamp(1.2rem, 5vw, 2.2rem);
}
h5{
    font-size: clamp(1.1rem, 5vw, 1.9rem);
}