.roomHeaderComponent{
    align-items: center;
    padding: var(--spacing-lg) var(--spacing-md);
    display: flex;
    width: var(--page-max-width);
    justify-content: space-between;
    gap: var(--spacing-md);

    span{
        color: var(--text-muted);
    }
}

.roomInfo{
    display: flex;
    gap:var(--spacing-md);
}


.roomTimer{
    display: flex;
    flex-direction: column;
    gap:var(--spacing-sm);
}

.roomId{
    display: block;
    font-weight: bold;
    color:var(--success) !important;
}

.remainingTime.warning{
    color: var(--danger-highlight) !important;
    font-weight: bold;
}

.destroyButton{
    background-color: var(--danger-highlight);
    color: var(--danger-text) !important;

    &:hover{
        filter: brightness(1.1);
    }
}