.roomPage{
    background-color: var(--bg);
    height: 100dvh;
    width: 100dvw;
}

.roomInfo{
    display: flex;
    flex-direction: column;
    gap:var(--spacing-sm);
}

.roomHeader{
    padding: var(--spacing-lg) var(--spacing-md);
    display: flex;
    gap: var(--spacing-md);
    border-bottom: 1px solid var(--border);

    span{
        color: var(--text-muted);
    }
}

.roomId{
    display: block;
    font-weight: bold;
    color:var(--success) !important;
}